<ng-template #suggestionsTplRef>
  <div class="row typeahead-results-container" *ngIf="resultsVisible">
    <div class="col s12 results">
      <div class="collection" *ngIf="searchResults.length">
        <a class="collection-item" *ngFor="let searchResult of searchResults;let i = index" [ngClass]="{'active': activeItemIdx === i}" (mouseenter)="onMouseEnter($event, i)">
          <span *ngIf="!itemTplRef">{{ searchResult }}</span>
          <ng-container [ngTemplateOutlet]="itemTplRef"
                        [ngOutletContext]="{$implicit: searchResults[0], location: searchResult}">
          </ng-container>
        </a>
      </div>
    </div>
  </div>
</ng-template>
