<ng-template #weatherLocationItemTpl let-location="location">
  <span>{{location.place}}</span>
</ng-template>

<div>
  <div class="card">
    <div class="card-content">
      <div class="card-title">Weather Settings</div>
      <div class="row">
        <form class="col s12 typeahead-container" name="typeaheadForm">
          <div class="row text-input">
            <div class="input-field col s12">
              <input typeahead placeholder="Placeholder" id="search_text" type="text"
                     name="serch_string"
                     (input)="search($event)"
                     [searchResults]="foundLocations"
                     [itemTplRef]="weatherLocationItemTpl"
                     [inputFormatter]="locationViewValueFormatter">
              <label for="search_text" class="active">Search</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
