<div class="col s12">
  <div class="row">
    <div class="col s12 wrapper white">
      <h4>{{title}}</h4>

      <div class="col s12">
        <div class="range-field">
          <input type="range" step="1" min="11" max="256" (change)="onChange($event)" [(ngModel)]="backListIntensity"
                 name="e" list="tickmarks"/>
          <datalist id="tickmarks">
            <option value="0" label="0%">
            <option value="10">
            <option value="20">
            <option value="30">
            <option value="40">
            <option value="50" label="50%">
            <option value="60">
            <option value="70">
            <option value="80">
            <option value="90">
            <option value="100" label="100%">
          </datalist>
        </div>
      </div>
    </div>
  </div>
</div>
