
.navigation {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.75rem 0.75rem 0 0.75rem;
  background-color: #1976d2;
  margin-bottom: 0.5rem;

  a {
    color: white;
  }

  .nav-arrows {
    margin-left: auto;
    a {
      margin-left: 2rem;
    }
  }

  .dashboard {

  }

  .fullscreen-toggler-container {
    margin-left: auto;

  }
}

